@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

* {
	font-size: 10px !important;
}


/* [uidensity="compact"] */

/* changes padding of toolbar buttons */

toolbar .toolbarbutton-1 {
	margin: -2px !important;
	padding: 0px 4px 0px 4px !important;
}

/* adjusts the padding and margin of the URL box buttons */

:root .urlbar-icon {
	width: 20px !important;
	height: 20px !important;
	padding: 4px !important;
}

/* adjusts the padding and margin of the icons before the URL */
#identity-icon, #tracking-protection-icon, #connection-icon, .notification-anchor-icon, #blocked-permissions-container > .blocked-permission-icon, #extension-icon {
	width: 14px !important;
	height: 14px !important;
	margin-inline-start: 4px !important;
}

/* adjusts entire nav bar padding */

#nav-bar {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

/* adjusts the padding of the three lines menu button */

#PanelUI-menu-button {
	padding-inline-start: 4px !important;
	padding-inline-end: 8px !important;
}

/* hides forward and back buttons */

#forward-button {
	display: none !important;
}

#back-button {
	display: none !important;
}

/* reduces the margin of the url bar */

#urlbar-container {
	margin: -4px !important;
}

/* url bar border settings */

#urlbar, .searchbar-textbox {
	border: 0px solid hsla(240,5%,5%,.25) !important;
}

/* tab box border settings */

#TabsToolbar:not([collapsed="true"]) + #nav-bar {
	border-top: 0px solid var(--tabs-border) !important;
}

/* hides color line on top of tabs */

:root {
	--tab-line-color: none !important;
	--toolbarbutton-border-radius: 0px !important;
/* removes inner padding of all toolbar buttons */
	--toolbarbutton-inner-padding: -1px !important;
/* decreases tab height (only works in pair with "--toolbarbutton-inner-padding") */
	--tab-min-height: 22px !important;
}

